<!doctype html><html><head>
  <meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="utf-8"><title>BoatSpotMedia</title><link rel="stylesheet" href="/static/css/style.css">  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
  <meta name="theme-color" content="#071b34">
</head><body><div class="container"><h1>Services Login</h1><form class="card" method="post"><label>Email</label><input name="email"><label>Password</label><input type="password" name="password"><button class="btn">Login</button></form></div><script src="/static/js/mobile.js"></script>
</body></html>